*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    width:100%;
    height: 120px;
}

main{
    display: flex;


}


.col-A{
    display: inline-block;
    width:30%;
    height: 100vh;
    background-color: bisque;
}

.col-B{
    display:inline-block;
    width:70%;
    height: 100vh;
    background-color: azure;
}

header>h2 {
    padding-top:4px;
    padding-left:4px;
}